@tailwind base;
  @tailwind components;
  @tailwind utilities;

  

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 273 77% 5%;
      --muted: 273 21% 93%;
      --muted-foreground: 273 12% 30%;
      --popover: 273 56% 99%;
      --popover-foreground: 273 77% 5%;
      --card: 273 56% 99%;
      --card-foreground: 273 77% 5%;
      --border: 273 9% 92%;
      --input: 273 9% 92%;
      --primary: 273 94.32% 59.34%;
      --primary-foreground: 273 53% 10%;
      --secondary: 273 18% 83%;
      --secondary-foreground: 273 18% 23%;
      --accent: 273 75.8% 68.22%;
      --accent-foreground: 273 26% 17%;
      --destructive: 9 91% 40%;
      --destructive-foreground: 0 0% 100%;
      --ring: 273 70.64% 58.08%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 273 31% 2%;
      --foreground: 273 24% 98%;
      --muted: 273 21% 7%;
      --muted-foreground: 273 12% 70%;
      --popover: 273 31% 2%;
      --popover-foreground: 273 24% 98%;
      --card: 273 31% 2%;
      --card-foreground: 273 24% 98%;
      --border: 273 9% 15%;
      --input: 273 9% 15%;
      --primary: 273 53% 70%;
      --primary-foreground: 273 53% 10%;
      --secondary: 273 18% 13%;
      --secondary-foreground: 273 18% 73%;
      --accent: 273 26% 20%;
      --accent-foreground: 273 26% 80%;
      --destructive: 9 91% 47%;
      --destructive-foreground: 0 0% 100%;
      --ring: 273 53% 70%;
    }
  }
  
  
  
  
